<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>initCROP</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.Bus</servlet-class>
        <init-param>
            <param-name>configfile</param-name>
            <param-value>/WEB-INF/config/conf.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WindowEngine</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.engine.Engine</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WindowEngine</servlet-name>
        <url-pattern>/w/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ThemeFilter</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.theme.ThemeFilter</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ThemeFilter</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>convertUtil</servlet-name>
        <servlet-class>cn.crtech.cooperop.application.convertpdf.ConvertServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>convertUtil</servlet-name>
        <url-pattern>/convertUtil/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RMServlet</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.rm.RMServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RMServlet</servlet-name>
        <url-pattern>/rm/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResourceFilter</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.resource.ResourceFilter</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceFilter</servlet-name>
        <url-pattern>/res/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>validimage</servlet-name>
        <servlet-class>cn.crtech.cooperop.application.validate.ValidImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validimage</servlet-name>
        <url-pattern>/validimage.png</url-pattern>
    </servlet-mapping>
    <!-- 初始化 -->
    <servlet>
        <servlet-name>PREINIT</servlet-name>
        <servlet-class>cn.crtech.precheck.server.PrescripionInitServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PREINIT</servlet-name>
        <url-pattern>/prescripitoninit</url-pattern>
    </servlet-mapping>
    <!-- 审核入口  -->
    <servlet>
        <servlet-name>OPTIONIFS</servlet-name>
        <!--<servlet-class>cn.crtech.cooperop.core.server.IFSAuditServlet</servlet-class>-->
       <servlet-class>cn.crtech.precheck.server.OptionIFSServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OPTIONIFS</servlet-name>
        <url-pattern>/optionifs</url-pattern>
    </servlet-mapping>
    <!-- 审核结果查询 -->
    <servlet>
        <servlet-name>PRESEARCH</servlet-name>
        <servlet-class>cn.crtech.precheck.server.PreSearchResultServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PRESEARCH</servlet-name>
        <url-pattern>/presearch</url-pattern>
    </servlet-mapping>

    <!-- 外部消息提示 -->
    <servlet>
        <servlet-name>EXTMSGPUSH</servlet-name>
        <servlet-class>cn.crtech.precheck.server.ExtMsgPushServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EXTMSGPUSH</servlet-name>
        <url-pattern>/extmsgpush</url-pattern>
    </servlet-mapping>

    <!-- 第三方审查入口  -->
    <servlet>
        <servlet-name>THIRDPARTYAUDIT</servlet-name>
        <servlet-class>cn.crtech.precheck.thirdparty.ThirdpartyAuditServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>THIRDPARTYAUDIT</servlet-name>
        <url-pattern>/thirdpartyaudit</url-pattern>
    </servlet-mapping>

    <!-- 说明书第三方接口  -->
    <servlet>
        <servlet-name>INSTRUCTIONBOOK</servlet-name>
        <servlet-class>cn.crtech.precheck.server.InstructionBookServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>INSTRUCTIONBOOK</servlet-name>
        <url-pattern>/instructionbook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>INSBOOK</servlet-name>
        <servlet-class>cn.crtech.precheck.server.InsBookServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>INSBOOK</servlet-name>
        <url-pattern>/insbook/*</url-pattern>
    </servlet-mapping>

    <!-- im升级检测服务 -->
    <servlet>
        <servlet-name>CHECKIMUPDATE</servlet-name>
        <servlet-class>cn.crtech.precheck.server.CheckIMUpdateServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CHECKIMUPDATE</servlet-name>
        <url-pattern>/checkimupdate</url-pattern>
    </servlet-mapping>
    <!-- IM下载更新文件  -->
    <servlet>
        <servlet-name>IMDOWNLOAD</servlet-name>
        <servlet-class>cn.crtech.precheck.server.IMDownLoadServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>IMDOWNLOAD</servlet-name>
        <url-pattern>/imdownload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cimcjs</servlet-name>
        <servlet-class>cn.crtech.cooperop.bus.im.JavaScriptServlet</servlet-class>
        <init-param>
            <param-name>appid</param-name>
            <param-value>00001</param-value>
        </init-param>
        <init-param>
            <param-name>appkey</param-name>
            <param-value>E47D6-6CA4FA7B-2563FE36-AECF27-B8E23</param-value>
        </init-param>
        <init-param>
            <param-name>busiclass</param-name>
            <param-value>cn.crtech.cooperop.bus.im.test.IMDataIterface</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>cimcjs</servlet-name>
        <url-pattern>/cimcjs/*</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.crtech.cn/jstl/cooperoptld</taglib-uri>
            <taglib-location>/WEB-INF/taglib/cooperop.tld</taglib-location>
        </taglib>
    </jsp-config>
    <error-page>
        <error-code>401</error-code>
        <location>/notlogin.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/noright.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/nopage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>


