<?xml version="1.0" encoding="UTF-8"?>
<cooperop-app>
	<initmethod>
		<name>initCommonEngine</name>
		<class>cn.crtech.precheck.EngineInterface</class>
		<method>init</method>
	</initmethod>
	<initmethod>
		<name>initEngineClient</name>
		<class>cn.crtech.precheck.client.EngineClient</class>
		<method>init</method>
	</initmethod>
	<initmethod>
		<name>initAlertMsg</name>
		<class>cn.crtech.ylz.MAEngine</class>
		<method>init</method>
	</initmethod>
</cooperop-app>