.row-fluid > .columns1 {float:left;width:8.33%}
.row-fluid > .columns2 {float:left;width:16.67%}
.row-fluid > .columns3 {float:left;width:25%}
.row-fluid > .columns4 {float:left;width:33.33%}
.row-fluid > .columns5 {float:left;width:41.67%}
.row-fluid > .columns6 {float:left;width:50%}
.row-fluid > .columns7 {float:left;width:58.33%}
.row-fluid > .columns8 {float:left;width:66.67%}
.row-fluid > .columns9 {float:left;width:75%}
.row-fluid > .columns10 {float:left;width:83.33%}
.row-fluid > .columns11 {float:left;width:91.67%}
.row-fluid > .columns12 {float:left;width:100%}