* {
	margin: 0;
	padding: 0;
	font-style: normal;
}

a{
	text-decoration: none !important;
}

.wk {
	width: 934px;
	height: 661px;
	position: relative;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	margin: auto 0px;
}

.wk .top-content {
	position: absolute;
	top: 0;
	right: 0;
	left: 20%;
	height: 120px;
	border-bottom: 1px solid #e1dfdf;
}

.wk .top-content .top-div {
	height: 100%;
	padding: 5px 0 0 5px;
	overflow: auto;
}

.wk .top-content .top-div .top-p>a {
	font-size: 14px;
}

.wk .top-content .top-div .top-p>span {
	margin-right: 20px;
	font-weight: 400;
	font-size: 14px;
}

.wk .top-content .top-div .top-p {
	width: 740px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 21px;
	margin-bottom: 0px;
	font-size: 14px;
}

.wk .left-content {
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 0px;
	border-right: 1px dashed #605f5f;
	/*padding: 10px 10px;*/
}

.wk .left-content ul {
	width: 100%;
	list-style: none;
	/*margin: 0px auto;*/
	height: 100%;
	overflow: auto;
}

.wk .left-content ul li {
	line-height: 35px;
	padding: 0 10px;
}

.wk .left-content ul li:hover {
	background-color: #ededed;
}

.wk .left-content ul .li-active {
	background-color: #ededed;
}

.wk .left-content ul li b {
	color: #009688;
}

.wk .box-content {
	width: 743px;
	height: 476px;
	position: absolute;
	padding: 2px;
	top: 120px;
	right: 0px;
	left: 20%;
	bottom: 60px;
	border-bottom: 1px dashed #605f5f;
	/* overflow: auto; */
}

.wk .box-content .box-list {
	padding: 1px 30px 5px 3px;
	position: relative;
}

.wk .box-content .boc-list {
	border-bottom: 2px dashed #9b9a9a;
}

.wk .box-content .box-list .intercept_c {
	right: 0px;
	position: absolute;
	/* left: 0; */
	top: 0px;
	/* bottom: 0; */
	height: 40px;
	width: 21px;
	writing-mode: lr-tb;
	font-size: 14px;
	border-radius: 0px 0px 33px 33px;
	text-align: center;
	/* line-height: 35px; */
	padding-top: 5px;
	color: #ffffff;
	background-color: #e65050;
	border: 0px #1a1717 solid;
	border-left: none;
	cursor: -webkit-grabbing;
}

.wk .box-content .box-list .hint_c {
	right: 0px;
	position: absolute;
	/* left: 0; */
	top: 0px;
	/* bottom: 0; */
	height: 40px;
	width: 21px;
	writing-mode: lr-tb;
	font-size: 14px;
	border-radius: 0px 0px 33px 33px;
	text-align: center;
	/* line-height: 35px; */
	padding-top: 5px;
	color: #ffffff;
	background-color: #f78f0e;
	border: 0px #1a1717 solid;
	border-left: none;
	cursor: -webkit-grabbing;
}

.wk .box-content .box-list .rejected_c {
	right: 0px;
	position: absolute;
	/* left: 0; */
	top: 0px;
	/* bottom: 0; */
	height: 40px;
	width: 21px;
	writing-mode: lr-tb;
	font-size: 14px;
	border-radius: 0px 0px 33px 33px;
	text-align: center;
	/* line-height: 35px; */
	padding-top: 5px;
	color: #ffffff;
	background-color: #560a0a;
	border: 0px #1a1717 solid;
	border-left: none;
	cursor: -webkit-grabbing;
}

.wk .box-content .box-list .ss_c {
	right: 0px;
	position: absolute;
	/* left: 0; */
	top: 0px;
	/* bottom: 0; */
	height: 40px;
	width: 21px;
	writing-mode: lr-tb;
	font-size: 14px;
	border-radius: 0px 0px 33px 33px;
	text-align: center;
	/* line-height: 35px; */
	padding-top: 5px;
	color: #ffffff;
	background-color: #db7dda;
	border: 0px #1a1717 solid;
	border-left: none;
	cursor: -webkit-grabbing;
}

.wk .box-content .box-list>p:nth-child(n+2) {
	line-height: 20px;
	font-size: 14px;
	margin: 0;
}

.wk .box-content .box-list>p:nth-child(n+2)>b {
	font-weight: 400;
	font-size: 14px;
}

.wk .box-content .box-list .fstP {
	line-height: 25px;
	margin-bottom: 0;
	width: 100%;
	font-size: 14px;
	color: #000;
	position: relative;
}

.fstP span .level_1 {
	font-size: 14px;
	color: #0bcd02;
}

.fstP span .level_2 {
	font-size: 14px;
	color: #a97e40;
}

.fstP span .level_3 {
	font-size: 14px;
	color: #f77802;
}

.fstP span .level_4 {
	font-size: 14px;
	color: #dc2a2a;
}

.wk .box-content .box-list .fstP>i {
	cursor: pointer;
	top: 5px;
}

.wk .box-content .box-list .fstP>.likeup {
	position: absolute;
	right: 120px;
	font-size: 16px;
	color: #a79393;
}
.fa-thumbs-up{
	color: #ec8b0e !important;
}

.fa-thumbs-down{
	color: #ec8b0e !important;
}

.wk .box-content .box-list .fstP>.hatedown {
	position: absolute;
	font-size: 16px;
	right: 80px;
	color: #a79393;
}

.wk .box-content .box-list .fstP>i.notactive {
	display: none;
}

.wk .box-content .box-list .fstP>a {
	float: right;
	/* text-decoration:  underline; */
	font-size: 14px;
}

.wk .box-content .box-list .fstP>a:hover {
	color: #1cccbc;
}

.wk .btn-content {
	position: absolute;
	height: 60px;
	right: 0;
	left: 20%;
	bottom: 0;
}

.wk .btn-content a {
	float: right;
	padding: 0 10px;
	min-width: 70px;
	height: 30px;
	line-height: 30px;
	margin: 15px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	border-radius: 3px;
	background-color: #0fbbab;
	cursor: pointer;
}

.wk .btn-content a:hover {
	background-color: #009688;
}

.caozuo2, .caozuo1 {
	display: none;
}

.nav-content a {
	display: block;
}

.wk .box-content2 {
	position: absolute;
	top: 120px;
	right: 0px;
	left: 20%;
	bottom: 60px;
	border-bottom: 1px dashed #e1dfdf;
	overflow: auto;
}

.wk .box-content3 {
	position: absolute;
	top: 100px;
	right: 0px;
	left: 20%;
	bottom: 60px;
	height: 20px;
	overflow: auto;
	z-index: 90;
	background-color: #faf4f4;
	text-align: center;
}

.gwyp {
	background-color: #c9452b;
	border-radius: 5px !important;
	padding: 3px;
	color: white;
}

#qsave {
	background-color: #d87c6b;
}

 #qsave:hover{
	 background-color: #d23e3e;
} 
.ntcinfo {
	color: #b78504;
	font-size: 20px;
	line-height: 35px;
}

.infobr {
	border-bottom: 1px solid lightgrey
}

.dhtitle {
	/* border-left: 8px solid #76a7b8;
    background: #f4fadd; */
	border-bottom: 1px solid #76a7b8;
}

.notsure {
	color: #8c3434;
	font-weight: 400;
	background: #fff8dd;
	margin-bottom: 1px;
	text-align: center;
}

.notclick {
	background-color: #8b8b8b !important;
	cursor: no-drop !important;
}

input[type=checkbox] {
	vertical-align: middle;
	margin-top: -2px;
	margin-bottom: 1px !important;
	cursor: pointer;
	/* 用于覆盖 */
	margin: 0 !important;
	line-height: normal;
}

label {
	font-weight: 400 !important;
	margin-right: 10px !important;
	cursor: pointer;
	margin-top: 3px;
	margin-bottom: 3px !important;
}

.ipc_sp_box{
    font-size: 14px;
    display: block;
    background-color: #f6fbff;
    line-height: 20px;
}

.ypm2css{
	font-size: 16px;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
}
.csms11.fa-thumbs-o-up{
	right: 190px !important;
}
.csms11.fa-thumbs-o-down{
	right: 150px !important;
}




*{
	margin:0;
	padding:0;
}

.content{
	margin: 0px auto !important;
	width: 498px;
	height: 392px;
	border: 1px solid #eee;
	position:  relative;
}

.content .main{
	/* position:  absolute; */
	top: 0;
	left: 0;
	right: 0;
	bottom: 40px;
	overflow:  auto;
	padding: 10px;
	border-bottom:  1px solid #eee;
	background-color: #ffffff;
}

.content .main .list{

}

.content .main .list .title{
	line-height:  30px;
	font-weight: 600;
}

.content .main .list>form{

}

.content .main .list>form>div{
	line-height:  25px;
	text-indent:  1em;
}

.content .main .list>form>div:hover{
	cursor: pointer;
}

.content .main .list>form>div>input{

}

.content .main .list>form>div>span{

}

.content .main .list .optionText{
	text-indent:  1em;
	line-height:  25px;
}

.content .main .list .optionText>span{

}

.content .main .list .optionText>input{
	outline:  none;
	border: none;
	border-bottom:  1px solid #666;
	padding: 0 10px;
	width: 380px;
	background-color: #ffffff;
}

.content>button{
	position:  absolute;
	bottom: 5px;
	right: 20px;
	width: 80px;
	height: 30px;
	border: 1px solid #00bcd4;
	background-color: #00BCD4;
	color:  #fff;
	cursor: pointer;
	border-radius:  3px;
}

.content>button:hover{
	background-color: #07a3d4;
	border: 1px solid #07a3d4;
}


::-webkit-scrollbar
{
	width: 2px;
	height: 4px;
	background-color: #F5F5F5;
}

/*Ã¥Â®Å¡Ã¤Â¹â€°Ã¦Â»Å¡Ã¥Å Â¨Ã¦ÂÂ¡Ã¨Â½Â¨Ã©Ââ€œ Ã¥â€ â€¦Ã©ËœÂ´Ã¥Â½Â±+Ã¥Å“â€ Ã¨Â§â€™*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: #F5F5F5;
}

/*Ã¥Â®Å¡Ã¤Â¹â€°Ã¦Â»â€˜Ã¥Ââ€” Ã¥â€ â€¦Ã©ËœÂ´Ã¥Â½Â±+Ã¥Å“â€ Ã¨Â§â€™*/
::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #c1c1c1;
}

.titleFirst{
	font-size: 15px;
	font-weight: 600;
}

div.card-tabs-bar.graygreen {
	border-bottom: 1px solid #e5e5e5;
}

div.card-tabs-bar.graygreen a.active {
	/* background-color: #fafafa; */
	border-top: 3px solid #76a7b8;
	/*height: 38px;*/
}

div.card-tabs-bar.graygreen a {
	padding: 5px;
	border-radius: 0px;
	margin: 0;
	margin-bottom: -2px;
	font-size: 14px;
	/*height: 32px;*/
}

div.card-tabs-bar a.active {
	border: 1px solid #eaecef;
	border-bottom: none;
	display: inline-block;
	color: black;
	border-radius: 4px 4px 0px 0px;
	/*     margin-bottom: -10px; */
	background: #fff;
}

#tab1{
	overflow: auto;
	bottom: 2px;
	top: 38px;
	position: absolute;
}

#commentright {
	width: 99%;
	overflow: auto;
	position: absolute;
	bottom: 2px;
	top: 37px;
	left: 6px;
}

#tab2 {
	width: 100%;
	overflow: auto;
	position: absolute;
	bottom: 2px;
	top: 37px;
}

#comment_sys_qustion span{
	margin-bottom: 3px;
	display: block;
}

#comment_sys_qustion{
	margin-left: 25px;
	border-bottom: 2px dashed #e1dfdf;
}

.comment_result_p{
	margin: 0px 0 5px;
}

.commentcontent{
	margin-top: 10px;
	/*  font-weight: 600; */
	letter-spacing: 1px;
	border: 1px solid #c1b5b5;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
}




.content {
	float: left;
	min-height: 1px;
	/* margin-left: 30px; */
}

.container .left{
	min-width: 200px;
	height: 550px;
}
.container .right{
	position:  absolute;
	top: 0px;
	right: 0px;
	left: 220px;
}
.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}
.nav-list>li>a, .nav-list .nav-header {
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav-header {
	display: block;
	font-family: serif;
	padding: 3px 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #696767;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	text-transform: uppercase;
}
li {
	line-height: 20px;
}
.nav>li>a {
	padding: 5px 15px;
	color: #737373;
	padding-left: 30px;
}
.nav-list>.active>a, .nav-list>.active>a:hover {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	background-color: #26bfb1 !important;
}


body {/* padding-top:20px; *//* padding-bottom:20px; */}

h3 {padding-bottom:0.2em;margin-top: 10px;}

.meta {color:#999; font-size:.9em; display:block;}
.meta em {font-style:normal; font-weight:bold;}

/* login */
#login-page.container {width:320px;}

/* dashboard */
.summary {display:table; width:100%; padding:0; margin:0 0 20px 0;}
.summary ul {margin:0; padding:0; overflow:hidden; display:table-row;}
.summary li {margin:0; padding:19px; display:table-cell; border-right:1px solid #eee;}
.summary li:last-child {border:none;}
.summary a {display:block; font-size:1.2em; line-height:1.4em; text-transform:uppercase; color:#000;}
.summary .count {display:block; font-size:1.75em; font-weight:bold;}

/* dashboard - ie fixes */
.ie7 .summary {display:block;}
.ie7 .summary ul {margin:0; padding:0; overflow:hidden; display:block;}
.ie7 .summary li {float:left;}

.ielt9 .summary .last {border:none;}


/* messages */
.messages {margin:0;padding:0;/* height: 500px; *//* overflow-y: auto; */}
.messages .messages {padding-top:19px;}
.messages li {list-style-type:none;padding-bottom:0.3em;font-style: normal !important;}
.messages .well {padding:19px;}
.messages .messages .well {border:none; -webkit-box-shadow:none;-moz-box-shadow:none; box-shadow:none; border-left:3px solid #eee;border-left:3px solid rgba(0, 0, 0, 0.05);}

/* blank slate */
.blank-slate {text-align:center;}

.messages .well{
	display: none;
}

.botom{
	/* margin-left: 205px; */
	width: 100%;
	/* height: 50px; */
	margin-top: 70px;
	overflow:  hidden;
}


.botom .qadivce{
	padding: 10px;
	overflow:  hidden;
	width: 60%;
	margin: 0 auto;
}

.botom .qadivce label{
	width: 50%;
	float:  left;
	font-weight:  300;
}


.botom .qadivce label input{
	width: 20px;
	color: #ea2323;
}


.botom .qadivce label textarea{
	position: relative;
	width: 100%!important;
	height: 100px !important;
	outline:  none;
	border-radius: 5px;
	display: block;
	margin: 10px auto;
	font-size: 14px;
	padding: 5px;
	color: #666;
}


.botom .qadivce button{
	float: right;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 30px;
	border-radius: 4px;
	background-color: #0fbbab;
}

.b-button{
	width: 100%;
}

.b-button .qz{
	float:  right;
	margin-left: 50px;
	border: none;
	outline:  none;
	color: #fff;
	padding: 5px 20px;
	border-radius:  4px;
	background-color: rgba(243, 55, 36, 0.68);
}
.b-button .qz:hover{
	background-color: rgba(208, 46, 29, 0.68);
}
.b-button .qx{
	float:  right;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
	background-color: rgba(32, 228, 101, 0.65);
}
.b-button .qx:hover{
	background-color: rgba(24, 187, 82, 0.65);
}
.b-button .qd{

}

.row{
	position: relative;
	height:auto;
}
.advicelabel ,.yjlabel{
	width: 100% !important;
	margin-bottom: 40px;
	text-align:  center;
	color: #0fbbabd4;
	/* font-weight: 600 !important; */
	font-size:  18px;
}
body{
	background-color:  #fff;
	width: 900px;
}
.well{
	background-color:  #fff;
}
.h5{
	display:none;
	background-color: #fff;
	padding: 19px 12px;
	min-height: 120px;
}

.h5 > span{
	/* color: #ff710c; */
	/* min-height: 50px; */
	display: block;
	text-align:center;
	padding: 5px 5px 15px 5px;
}
.h5 .advice-title{
	font-size: 16px;
	color: #0fbbabd9;
	font-weight:  600;
}
.h5 .advice-content{
	font-size: 14px;
	line-height: 20px;
}
.qd{
	display: inherit;
	margin: auto auto;
	width: 90px;
	height: 30px;
	border: none;
	color: #fff;
	background-color: #0fbbab;
	border-radius: 5px;
}
.qd:hover{
	background-color: #06a0af;
}
.ckyz{
	color: #08b4c5;
	cursor: pointer;
}
.ckyz:hover{
	color: #06a0af;
}
.sqmyy{
	display:none;
	float: right;
	margin: 15px 0px 0px 0px !important;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
	background-color: rgba(243, 55, 36, 0.68) !important;
}
.b-button .sqmyy:hover{
	background-color: rgba(208, 46, 29, 0.68);

}
.table>tbody>tr>td	{
	border: none;
}
.table>tbody>tr>td>hr	{
	margin: 0;
	border-top: 1px dashed #868181;
}
tr.selected_{
	background-color: rgb(243, 122, 78);
	color:#fff;
}
.table>tbody>tr.selected_:hover{
	background-color: rgb(255, 114, 62);
}

.b-button .caozuo2:hover{
	background-color: #06a0af;
}
.b-button .caozuo2{
	display: none;
	margin-left: 50px;
	float:  right;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 20px;
	border-radius: 4px;
	background-color: #08b4c5;
}
.b-button .caozuo1:hover{
	text-decoration: underline;
}
.b-button .caozuo1{
	display: none;
	float:right;
	margin-left: 50px;
	background-color: #f9f9f9;
	border: none;
	color: #0b9cab;
	line-height: 27px;
}
.ypsms{
	cursor: pointer;
	color: #337ab7;

}
.ypsms:hover{
	color: #0b9cab;
	/* text-decoration: underline; */
}